body {
  background-image: url("C:/Users/yadas/exam/Materials for Section B-20220324T090758Z-001/background.jpg");
  background-color: grey ;
}

h1 {
  color: white;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3px;
  background-color: white;
  padding: 3px;
}

.grid-container > div {
  background-color: #993366;
  border: 1px solid white;
  text-align: center;
  font-size: 30px;
  color:white;
}

